*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
    --primario: #fbfbf9;
    --secundario: #d7f3fd;
    --fondo: #f5fdff;
    --tarjeta: #c3e4ef;
    --texto: #00131a;
    --gris: #42413b;
    --letra2:#ff9c7c;
    --color-resaltar:#ff9472;
    --decoracion:#f1d796;
    --decoracion-x2:#d7b45a;
    --titulos-:#011218;
}

body{
    background:var(--fondo);
    font-family:'Monda',sans-serif;
}

/*============================
 HEADER 
 ==============================*/

header{
    background:var(--secundario);
    padding:20px 40px;
}

.superior{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    width:150px;
}

header h1{
    font-family:'Anton';
    font-size:4rem;
    color:var(--texto);
}

.buscador{
    display:flex;
    align-items:center;
    background:#001910;
    border-radius:25px;
    overflow:hidden;
}

.buscador input{
    border:none;
    outline:none;
    background:none;
    color:white;
    padding:10px;
    width:180px;
    font-family:'Monda';
}

.buscador button{
    border:none;
    background:none;
    color:white;
    padding:10px;
    cursor:pointer;
}

/*=========================
NAVBAR 
===========================*/

nav{
    width:fit-content;
    margin:25px auto 0;
    display:flex;
    align-items:center;
    gap:15px;

    background:var(--texto);
    padding:12px 25px;

    border-radius:18px;
}

.menu{
    border:none;
    background:none;
    color:white;
    font-size:20px;
}

.casa{
    width:28px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-family:'Monda';
    font-weight:600;

    transition:0.3s;
}


/*===========================
 COLOR AL PASAR EL MOUSE 
 ============================*/

nav a:hover{
    color:var(--color-resaltar);
}

.activo{
    color:var(--color-resaltar);
}

/*==========================
 CONTENIDO 
 ===========================*/



/*=========================
 FOOTER 
 ==========================*/

footer{
    display:flex;
    justify-content:space-around;
    align-items:flex-start;

    padding:40px;
}

.redes{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.redes p{
    display:flex;
    align-items:center;
    gap:10px;
    background: none;
    font-family:'Monda';
    color:#333;
}

/* ICONOS NEGROS */

.redes img{
    width:22px;
    height:22px;

    filter: grayscale(100%) brightness(0%);
}

/*===========================
 ALCALDÍA 
 ============================*/

.alcaldia{
    text-align:center;
}

.alcaldia img{
    width:130px; /* más grande */
}

.alcaldia p{
    margin-top:10px;
    font-family:'Monda';
    color:#333;
}

/*=======================
RESPONSIVE 
=========================*/

@media (min-width: 1200px) {

    /* Aumentar el tamaño de la fuente principal si quieres más legibilidad */
    .informacion h2 {
        font-size: 5rem; /* ligeramente más grande que el default */
    }

    /* Ajustar padding del main para pantallas muy anchas */
    main {
        padding: 60px 120px; /* más espacio lateral */
        gap: 60px;           /* más separación entre columnas */
    }

    /* Footer más espacioso */
    footer {
        padding: 50px 100px;
        gap: 40px;
    }

    /* Navbar centrado y más espaciado */
    nav {
        padding: 15px 35px;
    }

    nav ul {
        gap: 30px;
    }

    
}

.menu{
    display: none;
    background-color: #00131a;
}

.cerrar-menu{
    display: none;
    color: var(--secundario);
    background-color: var(--texto);
    font-family: 'Monda';
    font-size: 1rem;
}
@media screen and (max-width:500px){
    .menu{
        display: block;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
    }
    .nav{
        
        padding: 2rem;
        display: flex;
        display: none;
        top:0;
        right: 0;
        flex-direction: column;
        align-items: end;
        position: initial;
        margin: 0;
        z-index: 500;
        margin-left: 25%;

    }
    .nav.visible{
        visibility: visible;
        opacity: 1;
        display: flex;
    }

    .despl-list{
        flex-direction: column;
        margin:0;
    }

    header h1{
    font-size:2rem;
    }
    .logo{
        width: 25%;
    }
    footer{
        flex-direction: column;
    }
}




/*inicio */
.inside{
    display: flex;
    flex-direction: column;
}
main{
    background: var(--fondo);
    margin: 1px;
    align-items: start;
    display: flex;
    flex-direction: column;
}

main p{
    color: var(--texto);
    font-size: 0.781rem;
    font-family:'Open sans';
}

main h2{
    font-family: "open sans", Arial, sans-serif;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    text-align:justify;
    color: #222;
    text-decoration: none;
    color: var(--texto);
    margin-top: 0;
    margin-bottom: 15px;
}




/*CARRUSEL*/

.carrusel{
    width: 100%;
    background-color: var(--tarjeta);
    max-width: 120em;
    padding: 2em;
    border-radius: 1em;
    box-shadow:0 20px 40px rgba(0,0,0,.18);
    overflow-x: hidden;
}

.carrusel .grande{
    width: 300%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secundario);
    border-radius: 0.5em;
    padding: 2em;

    transition: all .5s ease;
    transform: translateX(0%);
}

.carrusel .img{
    width: calc(100%/3 - 2em);
    min-height: 10vh;
    margin: 1px;
    background-color: #ffffff;
}

.carrusel .puntos{
    list-style: none;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel .punto{
    width: 3em;
    height: 2em;
    background-color: var(--texto);
    margin: 0.8em;
    border-radius: 2em;
    
}

.carrusel .punto.activo{
    background-color: var(--color-resaltar);
}






.centerP{
    width:100%;
    display:flex;
    justify-content:center;
}

main{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.Info{
    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    gap:50px;

    margin-top:60px;
    margin-bottom:40px;

    flex-wrap:wrap;
}

.Info div{
    background-color:var(--tarjeta);

    width:320px;
    height:220px;

    border-radius:120px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    transition:.3s;
}

.Info div:hover{
    transform:translateY(-8px);
}

.Info div h2{
    padding:0;
    margin-bottom:15px;

    text-align:center;
    font-size:1.8rem;
}

.Info div p{
    padding:0;
    max-width:260px;
    text-align:center;
}

.link-text{
    margin-top:18px;
    color:var(--texto);
    text-decoration:underline;
    font-weight:bold;
}

.link-text:hover{
    color:var(--decoracion-x2);
}

.aside h2{
    padding-left: 0.2rem;
    padding-top: 8px;
    text-decoration: none;
    margin:1px;
}

.aside p{
    padding-left: 1.1rem;
    padding-top: 8px ;
    max-width: 20rem;
    text-align: center;
    margin: 1px;
}

@media (max-width:740px){
    .Info{
        flex-direction: column;
        margin-left: 1%;
    }
    .centerP{
        flex-direction: column;
    }

    .aside{
        align-items: center;
        align-self: center;
    }
    .header.h1{
        font-size: 1rem;
    }
}





/*Rutas de entrega*/
/*               */

.mainentr{
    margin: 0px;
    align-items: normal;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
    padding:50px 80px;
    background-image: linear-gradient(135deg, rgba(164, 168, 173, 0.75) 0%, rgba(179, 225, 236, 0.65)100%),url(../img/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.informacion h2{
    font-family:'Anton';
    font-size:3.8rem;
    color:#333;
    text-align: left; 
    margin-bottom:20px;
}

.informacion p{
    font-family:'Monda';
    font-size:1.1rem;
    color:var(--texto);

    margin-bottom:20px;
}

.informacion a img{
    position: initial;
    width: 49%;
    z-index: 1;
    width:100%;
    max-width:520px;
    border-radius:15px;
}

article{
    display:flex;
    align-items:center;
    gap:20px;

    margin-top:25px;
}

article img{
    width:75px;
}

article h3{
    font-family:'Anton';
    font-size:1.6rem;
    color:var(--texto);
}

article p{
    font-family:'Monda';
}

/*===========================
 ASIDE 
 ============================*/

.asideentr{
    
    position: initial;
    margin: 0px;
    margin-left: 0px;
    background:transparent;
    border-radius: 10%;
    height: auto;
    align-items: normal;
    align-content: normal;
    
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

.asideentr img:first-child{
    background:transparent;
    position: initial;
    z-index: 1;
    bottom: 0rem;
    left: 0rem;

    width:100%;
    max-width:450px;
}

.asideentr img:last-child{
    background:var(--fondo);
    position: initial;
    bottom: 0rem;
    left: 0rem;

    width:320px;
}

/*Atencion y servicios*/
/*                    */


.mainServCl{
    display: block;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    align-items: center;
}

.hero{
    min-height:500px;
    min-width: 1000px;

    background-image:url("../img/servicio/images.jpg");
    background-size:cover;
    background-position:center;

    position:relative;
}

.overlay{
    width:100%;
    height:100%;
    background:rgba(255,255,255,.75);

    display:flex;
    justify-content:center;
    align-items:center;
    gap:70px;

    padding:100px 20px;
}

.card{
    width:360px;
    min-height:220px;

    background:rgba(220,220,220,.85);

    border-radius:30px;

    padding:30px;
    text-align:center;
}

.card h2{
    margin-bottom:25px;
    font-size:20px;
}

.card a{
    display:block;
    color:#222;
    margin-bottom:20px;
    font-size:18px;
}

.telefono{
    display:inline-block;
    border:4px solid #8c4eff;
    padding:8px 50px;
    margin:15px 0;
    font-size:18px;
}

.texto{
    margin-top:15px;
    font-size:14px;
}





/*Formulario*/
/*         */

.Form{

    background: var(--fondo);
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 8rem;
    
}





.Form h2{
    letter-spacing: -0.9px;
    min-width: max-content;
    font-size: 1.881rem;
    font-family: 'Antont';
    min-height: auto;
    font-weight: bold;
    padding-left: 1%;
    margin-top:5vh;
    align-self: center;
}

.GuardarB{
    display: inline;
    width: 5%;
    border-width: 0px;
    border-radius: 0%;
    background-color: var(--fondo);
    padding: auto;
    margin-right: 60%;
    margin-left: 15%;
    align-self: self-start;
    align-items: flex-start;


}

.GuardarB:hover{
    position: relative;
    bottom:3px;
}


.Form button img{
    width: 40%;
    position:static;
    min-width: 2rem;
}

.formulario{
    z-index: 2;
    padding-bottom: 4rem;
    bottom: 115rem;
    grid-template-rows: 1.2rem 1.2rem 1.2rem;
    margin: 0.1rem;
    background-color: var(--tarjeta);
    align-items: start;
    justify-content: start;
    border-radius: 4%;
    width:65%;
    min-width: 60%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.74);
    overflow-x: hidden;
}

.formulario ul{
    list-style: none;
}

.part{
    padding-left: 2rem;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 6rem;
    min-width: 0;
    
}
.dentro{
    margin-left:1rem;
}
.formulario h3{
    padding-left: 2rem;
}


.side ul{
    min-width: 0;
    display:inline-flex;
    margin-top: 3rem;
    gap: 1rem;
}

.side ul li{
    display: flex;
    min-width: 4rem;
    min-width: 0;
}


.side ul li p{
    align-content: baseline;
    font-size: 0.9375rem;
    font-family: 'Monda';
    font-weight: bold;
    min-width: 0;
    
}

.txt{
    align-content: start;
    text-align: left;
    min-width: 19rem;
    max-width: 17rem;
    gap: 1px;
    min-width: 0;
}

.side ul li input{
    max-height: 1.3rem;
    min-width: 0;
}

.Important{
    color: var(--color-resaltar);
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Open Sans';
    min-width: 0;
}

.ButtonsCon{
    margin: 1px;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding-right: 80%;
}



.ButtonsCon button{
    align-items: flex-end;
    min-height: 2rem;
    min-width: 5rem;
    width: 5rem;
    position: static;
    border-radius: 30%;
    font-size: 1.188rem;
    min-width: 0;
}

.enviar{
    border: 0px solid #33333300;
    color: var(--letra2);
    font-family: 'Open Sans';
    background-color:#714537;
    color: var(--letra2);
    min-width: 0;
}




.Cerrar{
    border: 5px solid var(--titulos-);
    background-color: var(--fondo);
}

.enviar:hover{
    background-color: var(--titulos-);
}

.Cerrar:hover{
    background-color: var(--color-resaltar);
    border: 1px solid var(--titulos-);
    color: var(--texto);
}

.lin{
    position: relative;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: -0.9px;
    left:1rem;
}

.Circulo{
    min-width: 20%;
    width: 40%;
    max-width: 45%;
    position: absolute;
    align-self: center;
    z-index: 1;
    left:80vw;
    bottom:0rem;
    min-height: 40rem;
}

.CirculoA{
    min-width: 20%;
    width: 40%;
    max-width: 45%;
    position: absolute;
    align-self: center;
    z-index: 1;
    bottom:0rem;
    left: -20vw;
    min-height: 40rem;
}

@media (max-width: 1023px){
    .part {
        grid-template-columns: 1fr;
    }
    .ButtonsCon{
        padding-right:40%;
    }

    .Camp{
        flex-direction: column;
    }
}







/*Iniciar secion*/
/*              */
.contenedor{                             
    width:90%;
    max-width:1100px;
    margin:50px auto;
    background: var(--fondo);
    display:block;
    align-items: none;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-top: 0%;
}

.contenedor h1{
    font-size:50px;
    margin-bottom:30px;
    color:#202128;
    display: block;
}

/* CONTENIDO DOS COLUMNAS */
.contenido{
    display:flex;
    gap:50px;
    align-items:flex-start;
    
}

/* IZQUIERDA */
.infos{
    width:35%;
    border:3px solid #202128;
    border-radius:25px;
    padding:20px;
    background:white;
    display: block;
}

.infos p{
    font-size:18px;
    margin-bottom:15px;
}

.infos img{
    width:100%;
    border-radius:15px;
    bottom:0%;
    left:0%;
}

/* DERECHA */
.login{
    width:65%;
}

/* INPUTS */
.grupo{
    margin-bottom:25px;
}

.grupo label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

.grupo input{
    width:100%;
    height:45px;
    border:2px solid #202128;
    border-radius:15px;
    padding:10px;
}

/* OPCIONES */
.opciones{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.opciones a{
    text-decoration:none;
    color:#333;
    font-weight:bold;
}

/* BOTON */
.ini_sec{
    width:100%;
    height:50px;
    border:none;
    border-radius:15px;
    background:#333;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.ini_sec:hover{
    background:#202128;
}

/* SOCIAL */
.continuar{
    text-align:center;
    margin:20px 0;
}

.sociales{
    display:flex;
    justify-content:center;
    gap:20px;
}

/* Botón iniciar sesión */
.login > button{
    width:100%;
    height:50px;
    border:none;
    border-radius:15px;
    background:#333;
    color:white;
    font-size:18px;
    cursor:pointer;
}

/* Botones sociales */
.sociales{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:15px;
}

.sociales button{
    width:150px;
    height:50px;
    border:1px solid #ccc;
    border-radius:10px;
    background:white;
    color:black;
    font-size:16px;

}

/* =========================
   RESPONSIVE
========================= */
@media(max-width:900px){

    .contenido{
        flex-direction:column;
    }

    .info, .login{
        width:100%;
    }

    .logo h1{
        font-size:2.5rem;
    }

    .Buscador{
        position:static;
        margin-top:10px;
    }
}
.tabla-rutas{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
}

.tabla-rutas th{
    background: #002b36;
    color: white;
    padding: 12px;
    font-size: 18px;
}

.tabla-rutas td{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.activa{
    color: green;
    font-weight: bold;
}

.proceso{
    color: orange;
    font-weight: bold;
}

.inactiva{
    color: red;
    font-weight: bold;
}
/*
APP PRINCIPAL
*/

.app-pr{
    display: flex;
    flex-direction: row;
}

.options-app{
    background-color: #714537;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:2.1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    box-shadow: #27272665 1rem 1rem;
}

.hb-app img{
    max-width: 15%;
}

.hb-app{
    background-color: transparent;
    border: transparent;
    
}

.option-app-item{
    list-style: none;
    display: flex;
    background-color: transparent;
    border: transparent;
}

.option-app-item p{
    align-content: center;
    color: var(--secundario);
    font-size: 1.2rem;
}
.option-app-item img{
    width: 15%;
}

.option-app-item p:hover{
    color: var(--color-resaltar);
    transform:translateY(-1px);
}

.app-forms{
    align-content: space-between;
    width: 100%;
    margin: 2px;
    border-width: 5px;
    border-color: #00131a;
    border-style:solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    min-height: 50vh;
    overflow-y: scroll ;
    max-height: 50vh;
    background-color: #d7f3fd;
    box-shadow:1rem 1.1rem 1.1rem #00131a71;
}

.form-item{
    display: flex;
    flex-direction: row;
    background-color:#95c0dd;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    gap:8rem;
}

.form-time-all{
    display: flex;
    flex-direction: row;
    gap:1rem;
}

.form-botones{
    display: flex;
    flex-direction: row;
    gap:1rem;
}